<h3> <%= @photo.title %></h3>
<p> By <%= @user.username %> </p>


<div class="row">

	<div class="col-md-11">
		<%= link_to image_tag(@photo.file.url), @photo %></span>
	</div>
	<div class="col-md-12">
	<p><%= link_to "Edit", edit_photo_path, class: "black-link" %> <%= link_to 'Destroy',  { action: :destroy, id: @photo.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "black-link" %>
	</p>
	<p>
		Tags: <% @photo.tags.hash_tags.each do |tag| %>
			<a href="/photos/search?keyword=<%= "%23" + tag.field[1..-1] %>" class="black-link"><%= tag.field %></a>
		<% end %> 
	</p>
	<div>
</div>
<br>
<br>
<div class="row">
	<section class="comment_form col-md-offset-1">
		<%= render 'shared/comment_form' %>
	</section>
</div>
	<%= render @comments %>