<h3> <%= @photo.title %></h3>
<p> By <%= @user.username %> </p>


<div class="row">

	<div class="col-md-11">
		<%= link_to image_tag(@photo.file.url), @photo %></span>
	</div>
	<div class="col-md-12">
	<p><%= link_to "Edit", edit_photo_path, class: "black-link" %> <%= link_to 'Destroy',  { action: :destroy, id: @photo.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "black-link" %>
	</p>
	<p>
		<%= render partial: 'tags', locals: {field: "Color", color: @photo.color_tags} %>
	</p>
	<p>
		<%= render partial: 'tags', locals: {field: "Brand", color: @photo.brand_tags} %>
	</p>
	<p>
		<%= render partial: 'tags', locals: {field: "Category", color: @photo.category_tags} %>
	</p>
	<p>
		<%= render partial: 'tags', locals: {field: "Occasion", color: @photo.occasion_tags} %>
	</p>
	<p>
		<%= render partial: 'tags', locals: {field: "Pattern", color: @photo.pattern_tags} %>
	</p>
	<div>
</div>
<br>
<br>
<div class="row">
	<section class="comment_form">
		<%= render 'shared/comment_form' %>
	</section>
</div>
	<%= render @comments %>